{% extends 'base.html' %}

{%block content %}

<div class="row bg-body-primary py-lg-5 text-center">
    <h1 class="fw-light">Contacts List</h1>
    <p class="lead text-body-secondary col-lg-4 mx-auto fw-light">
        Наша программа поможет вам легко управлять вашими контактами — добавляйте, редактируйте и удаляйте информацию
        всего в несколько кликов. Все данные о ваших друзьях, коллегах и клиентах будут всегда под рукой, а интуитивно
        понятный интерфейс сделает использование программы быстрым и удобным.
    </p>
    <h2 class="lead fw-light text-body-secondary mx-auto fw-light">Начните организовывать свои контакты прямо сейчас!</h2>
</div>
<div class="mb-3 d-flex justify-content-end mb-3">
    <form method="get" action="{{ url_for('all_contacts') }}" class="d-flex w-20">
        <input type="text" name="search" class="form-control me-2" placeholder="Поиск по имени" value="{{ search_query }}">
        <button type="submit" class="btn btn-primary ">Поиск</button>
    </form>
</div>
<div class="album bg-body-tertiary py-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
         <table class="table-striped table-hover fw-light table">
    <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Organization</th>
        <th>Date</th>
        <th>Actions</th>
    </tr>
    {% for contact in contacts %}
    <tr class="{% if search_query and (search_query in contact.name.lower() or
                                 search_query in contact.email.lower() or
                                 search_query in contact.phone.lower() or
                                 search_query in contact.org.lower()) %}table-warning{% endif %}">

        <td>{{ contact.name }}</td>
        <td>{{ contact.phone }}</td>
        <td>{{ contact.email }}</td>
        <td>{{ contact.org }}</td>
        <td>{{ contact.date }}</td>
        <td>
            <a href="{{ url_for('edit_contact', contact_id=contact.id) }}">Edit</a> |
            <a href="{{ url_for('delete_contact', contact_id=contact.id) }}" onclick="return confirm('Are you sure?')">Delete</a>
        </td>
    </tr>

    {% endfor %}

</table>
      </div>

</div>
</div>



{% endblock %}