{% extends 'base.html' %}

{%block content %}

<div class="row bg-body-primary py-lg-5 text-center">
    <h1 class="fw-light">Contacts List</h1>
    <p class="lead text-body-secondary col-lg-4 mx-auto fw-light">
        Наша программа поможет вам легко управлять вашими контактами — добавляйте, редактируйте и удаляйте информацию
        всего в несколько кликов. Все данные о ваших друзьях, коллегах и клиентах будут всегда под рукой, а интуитивно
        понятный интерфейс сделает использование программы быстрым и удобным.
    </p>
    <h2 class="lead fw-light text-body-secondary mx-auto fw-light">Начните организовывать свои контакты прямо сейчас!</h2>
</div>

<form class="row fw-light container-fluid bg-body-tertiary py-5 text-center g-3" action="{{ url_for('edit_contact', contact_id=contact.id) }}" method="POST">
    <div class="justify-content-center">
        <label for="name">Name:</label>
        <input style="margin-left: 100px" class="form-control w-50 fw-light" type="text" id="name" name="name" value="{{ contact.name }}" required>

        <label for="phone">Phone:</label>
        <input class="form-control w-50 fw-light" type="text" id="phone" name="phone" value="{{ contact.phone }}" required>

        <label for="email">Email:</label>
        <input class="form-control w-50 fw-light" type="email" id="email" name="email" value="{{ contact.email }}" required>

        <button class="fw-light btn btn-outline-primary btn-sm -flex" type="submit" style="margin-top: -4px; margin-left: 10px;" >Update Contact</button>
    </div>

</form>

{% endblock %}